WP_API_URL=https://blog.dokanelbanat.com/wp-json/wp/v2
WOO_STORE_API_URL=https://blog.dokanelbanat.com/wp-json/wc/store/v1
WOO_API_URL=https://blog.dokanelbanat.com/wp-json/wc/v3
WOO_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WOO_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
